@import '../../styles//colors.scss';
.homepage{
    width: 100%;
    height: 100%;
}
.welcome_box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
}
.welcome_msg{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $nav_bkg_color;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
}