@import '../../styles//colors.scss';
* {
  color: $pst_details_color;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.main_box{
  width: 100%;
  height: 100%;   
}
.search_bar{
  height: 50px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_input{
  width: auto;
  background: none;
  border: 2px solid $card_border_color;
  border-radius: 30rem;
  box-sizing: border-box;
  font-size: 20px;
  color: black;
  outline: none;
  transition: .5s;
}
.card_borders{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.post_card {
  background-color: $card_bkg_color;
  width: 75%;
  height: 100%;
  border: 0.15rem solid $card_border_color;
  border-radius: 0.3rem;
  box-shadow: $box_shadow_color 0px 25px 20px -20px;
}
.card_title{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  color: $pst_details_color;
  margin: 1rem;
}
.card_body{
  width: 85%;
  height: auto;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  gap: 1.5rem;
}

.comments_title{
  display: flex;
  justify-content: flex-start ;
  padding-left: 1.5rem;
  font-size: large;
  font-weight: 600;
  border-bottom:0.15rem solid $card_border_color;
}
.all_comments{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.comment{
  display: flex;
  justify-content: center;
  padding: 0.5rem;

}
.comment_body{
  width: 95%;
  height: auto;
  border: 0.15rem solid $card_border_color;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.comment_user{
  width: 80%;
  height: auto;
}
.pagination_list {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.pagination { 
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem 0 5rem 0;
  gap: 0.5rem;
}
.page_button{
  color: $nav_bkg_color;
  width: 2.5rem;
  cursor: pointer;
  height: 2.5rem;
  font-size: 20px;
  border:  1px solid $nav_bkg_color;
  border-radius: 40%;
  background-color:$white_color;
  &:hover{
    color: $white_color;
  background-color: $nav_bkg_color;
    transition: 0.3s;
    font-size:22px;
    
  }
}
.page_button:hover(.active) {background-color: #ddd;}

.active_page { 
  color: $white_color;
  background-color: $nav_bkg_color;
}
.next_previous_button{
  color: $nav_bkg_color;
  font-size: 60px;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 20px;
  border:  1px solid $nav_bkg_color;
  border-radius: 50%;
  background-color: $white_color;
  &:hover{
    width: 2.8rem;
    height: 2.8rem;
    transition: 0.2s;
}}