$nav_bkg_color:  #1F75FE;
$card_bkg_color: #F5F5F5;
$card_border_color: #CECECE;
$brd_color: #F3F3F3;
$link_itm:#0655A0;
$white_color: #FFFFFF;
$black_color: #0000;
$pst_details_color: #3D3939; 
$box_shadow_color: #00000073;