@import '../../styles//colors.scss';
* {
  color: rgb(61, 57, 57);
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.card_borders{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}
.post_card {
  background-color: $card_bkg_color;
  width: 75%;
  height: 100%;
  border: 0.15rem solid $card_border_color;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
}
.card_title{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  color: rgb(61, 57, 57);
  margin: 1rem;
}
.card_body{
  width: 85%;
  height: auto;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  gap: 1.5rem;
}

.comments_title{
  display: flex;
  justify-content: flex-start ;
  padding-left: 1.5rem;
  font-size: large;
  font-weight: 600;
  border-bottom:0.15rem solid $card_border_color;
}
.all_comments{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.comment{
   display: flex;
  justify-content: center;
  padding: 0.5rem;

}
.comment_body{
  width: 95%;
  height: auto;
  border: 0.15rem solid $card_border_color;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.comment_user{
  width: 80%;
  height: auto;
}
